# Ignore everything
* 

# Except 
!R_Code_Analysis/
!Python_Code_Analysis/
!Shell_Scripts/

# Don't ignore files directly in these directories
!Python_Code_Analysis/*
!R_Code_Analysis/*
!Shell_Scripts/*.sh

# Track models directory structure but not contents
!Models/
Models/*
!Models/.gitkeep

!.gitignore
.Rproj.user
